@import "tailwindcss";

:root {
  --color-blue-1: #13294b;
  --color-blue-2: #2959a4;
  --color-blue-3: #83b3ff;
  --color-yellow-1: #ffd965;
  --color-yellow-2: #fff683;
}

@theme inline {
  --breakpoint-xs: 550px;
  --color-blue-1: var(--color-blue-1);
  --color-blue-2: var(--color-blue-2);
  --color-blue-3: var(--color-blue-3);
  --color-yellow-1: var(--color-yellow-1);
  --color-yellow-2: var(--color-yellow-2);
}

@utility font-young-serif {
  font-family: var(--font-young-serif), serif;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

a {
  @apply cursor-pointer hover:underline;
}

h2 {
  @apply font-semibold;
}

section {
  @apply w-full p-3;
}

button {
  @apply bg-blue-2 text-white rounded-full w-fit px-5 py-2 font-semibold;
}

.heroBackground {
  /*background-image: url("/unc-grey-pencil.png")*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 140% auto;
  padding-bottom: 2rem;

  @media (min-width: 640px) {
    background-size: 110% auto;
    background-position: center 10%;
  }

  @media (min-width: 768px) {
    background-size: 100% auto;
    background-position: center 5%;
  }

  @media (min-width: 1024px) {
    background-size: 85% auto;
    background-position: center top;
  }

  @media (min-width: 1280px) {
    background-size: 70% auto;
  }
}